<?xml version="1.0"?>
<configuration>
<system.web>
  <compilation debug="false" targetFramework="4.5.2" />
  <httpRuntime targetFramework="4.5.2" />
</system.web>

<system.webServer>
  <security>
    <!-- wijzig allowUnlisted naar false om de toagng tot deze website te beperken tot de onderstaande lijst -->
    <ipSecurity allowUnlisted="true" denyAction="NotFound">
      <!-- Voor lokaal gebruik deployment zorg ervoor dat het lokale netwerk hier staat -->
      <add allowed="true" ipAddress="192.168.123.1" subnetMask="255.255.255.0"/>
      <!-- Voor lokaal ontwikkelen (IIS Express) -->
      <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.255.255.255"/>
      <!-- voor Azure deployment zorg ervoor dat het externe IP adres van de internetlijn van het call center hier staat -->
      <add allowed="true" ipAddress="89.200.202.4" subnetMask="255.255.255.255"/>
    </ipSecurity>
  </security>
</system.webServer>

</configuration>
